body, html {
  height: 100%;
  margin: 0 auto;
}

.background {
  background: linear-gradient(180deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 24%, rgba(0, 212, 255, 1) 100%);
  color: white;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}

.heading {
  font-size: 5rem;
}

.heading2 {
  font-size: 3rem;
}

.question,
.points,
.total {
  font-size: 2rem;
  margin: 15px;
}

.yes {
  margin: 25px;
}

.no {
  margin: 25px;
}

.begin {
  margin-bottom: 20px;
}

.btn.btn-primary.btn-lg {
  padding: .5rem 2rem;
}

.from-top {
  margin-top: 5%
}

.main {
  margin-top: 2.5%;
}

.modal-body,
.modal-title {
  color: black;
}
